<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frommetoyou.baseapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".presentation.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseApp">
        <activity
            android:name=".presentation.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mercadopago.android.px.internal.features.payment_methods.PaymentMethodsActivity"
            android:label="@string/px_title_activity_payment_methods"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.bank_deals.BankDealsActivity"
            android:label="@string/px_title_activity_bank_deals"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.TermsAndConditionsActivity"
            android:label="@string/px_title_activity_terms_and_conditions"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.checkout.CheckoutActivity"
            android:exported="true"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="px"
                    android:path="/one_tap"
                    android:scheme="mercadopago" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="px"
                    android:path="/one_tap"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mercadopago.android.px.internal.features.guessing_card.GuessingCardActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.payment_vault.PaymentVaultActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.installments.InstallmentsActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.IssuersActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.cardvault.CardVaultActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.ErrorActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.payment_result.PaymentResultActivity"
            android:exported="true"
            android:label=""
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.SecurityCodeActivity"
            android:exported="true"
            android:label=""
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.PaymentTypesActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.review_payment_methods.ReviewPaymentMethodsActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.payer_information.PayerInformationActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.plugins.PaymentProcessorActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.business_result.BusinessPaymentResultActivity"
            android:exported="true"
            android:label=""
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.review_and_confirm.ReviewAndConfirmActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.bank_deal_detail.BankDealDetailActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.guessing_card.card_association_result.CardAssociationResultSuccessActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/ToolbarTransparentTheme" />
        <activity
            android:name="com.mercadopago.android.px.internal.features.guessing_card.card_association_result.CardAssociationResultErrorActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/ToolbarTransparentTheme" />

    </application>

</manifest>